#contact button {
    width: 215px;
}

.intro-body > #title {
    color: white;
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

@media (max-width: 991px) {
    .masthead {
        height: 100vh;
    }

    #locale {
        height: 100vh;
    }

    #contact {
        padding-bottom: 120px;
    }


}
